<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>

      <link rel='stylesheet' href='/stylesheets/header.css' />
       <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

      
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
  
        
    </head>
 <body>
       <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
      
        <ul class="nav navbar-nav">
            <li><a class="blog-nav-item" href="/">Home</a></li>
            <li><a class="blog-nav-item" href="/about">About</a></li>
            <li><a class="blog-nav-item" href="/services">Services</a></li>
            <li><a class="blog-nav-item" href="/projects">Projects</a></li>
            <li><a class="blog-nav-item" href="/contact_me">Contact Me</a></li>
          </ul>
      </nav>
           </div>
      </div>

  </body>
  </html>