<%- include partials/header.ejs %>



<link rel="stylesheet" type="text/css" href='/stylesheets/index.css' />
 <h1>MANSI PATEL</h1>
    <h2>WEB DESIGNER, PROGRAMMER</h2>


  </body>
</html>
<%- include partials/footer.ejs %>