<%- include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href='/stylesheets/projects.css' />
     <div class="topcorner">
                    <br>
                     
    		      <a href="http://gc200303640.computerstudi.es/Project1/home.html">
                     <div id="f1_container">
                         <img src="../images/port1.jpg" class="img-circle" align="right"  width="150" height="100"></a> 
                      </div><aside>vintage cars</aside>
                      <hr>
                     
    		      <a href="http://gc200303640.computerstudi.es/assignment3/assignment3.html ">
                      <div id="f1_container">
                        <img src="../images/inception.jpg" class="img-circle" align="left" width="150" height="100"></a> 
                      </div><aside> movie poster</aside>
                      <hr>
                      
                  <a href="http://gc200303640.computerstudi.es/resume/resume.html">
                      <div id="f1_container">
                        <img src="../images/resume.png" class="img-circle" align="right" width="150" height="100"></a> 
                      </div> <aside>resume</aside>  
                      <hr>
                      
                  <a href="http://gc200303640.computerstudi.es/php/lesson12/login.php">
                      <div id="f1_container">
                       <img src="../images/lesso12.png" class="img-circle" align="left" width="150" height="100"></a> 
                      </div><aside>student registration</aside>
                      <hr>
                      
    		      <a href="http://gc200303640.computerstudi.es/php/lab5/default.php ">
                      <div id="f1_container">
                        <img src="../images/lab5.png" class="img-circle" align="right" width="150" height="100"></a> 
                      </div><aside>data tracker</aside>
                      <hr>
                      
                  <a href="http://gc200303640.computerstudi.es/php/lab3/save.php">
                      <div id="f1_container">
                        <img src="../images/lab3.png" class="img-circle" align="left" width="150" height="100"></a> 
                      </div><aside>data storage</aside>
                     <hr>
                      
                        </div>
                   
  
  </body>
</html>
<%- include partials/footer.ejs %>