   <style>
    p {color: #E5EFFF;
    }
    a{
            color: #E5EFFF;
        }
        div.navbar-fixed-bottom {
            background-color: darkred;
            text-align: center;
        }
    
    </style>